.font_0{
    font-size: 26px;
    line-height: 1.2em;

}
h1.font_0{
    font: normal normal bold 26px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #1D1D1F;
}

.font_5{
  font: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
  color: #1D1D1F;
}
.font_6 {
    font: normal normal bold 20px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #1D1D1F;
}

.font_6 a{
    color: inherit;
}

.font_8 {
    font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #1D1D1F;
}

.font_9 {
    font: normal normal normal 13px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    color: #1D1D1F;
}

.color_17{
  color: #6389e1;
}

.color_13{
  color: #A0A09F;
}

.color_15{
  color: #1d1d1f;
}

